.contact {
  padding-top: 5rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;
  &__form {
    input,
    textarea {
      margin-bottom: 2rem;
      border: none;
      border-radius: 50px;
    }
    input {
      padding: 1rem;
    }
    textarea {
      resize: none;
      padding: 2rem;
    }
    form {
      display: flex;
      flex-direction: column;
    }
    button {
      background-color: $darkOrange;
      color: white;
    }
    &__names {
      display: flex;
      justify-content: space-between;
      input {
        width: 45%;
      }
      .contact__form__unit {
        width: 45%;
      }
    }
    &__unit {
      width: 100%;
      input {
        width: 100%;
      }
      h4 {
        margin-bottom: 0.5rem;
        margin-left: 0.5rem;
        margin-top: 0;
        font-weight: lighter;
      }
    }
  }
  @include breakpoint-up(xlarge) {
    &__isolijnen {
      position: absolute;
      top: -108px;
      left: -165px;
      width: 500px;
    }
  }
  @include breakpoint-up(large) {
    .contact__form {
      padding-top: 17rem;
    }
    &__isolijnen {
      position: absolute;
      top: -88px;
      left: -131px;
      width: 400px;
    }
    &__bg {
      background-color: $lightOrange;
      position: absolute;
      height: 80vh;
      width: 80vw;
      z-index: -10;
      right: 0;
      margin-top: 130px;
    }
    .fixed-container {
      display: flex;
      justify-content: space-between;
    }
    &__left__wrapper {
      padding-top: 11rem;
      width: 50%;
      height: 600px;
    }
    &__right__wrapper {
      padding-left: 3rem;
      width: 60%;
      .section__title {
        margin-bottom: 2rem;
        img {
          width: 2rem;
        }
      }
    }
  }
  @include breakpoint-down(medium) {
    overflow: hidden;
    padding-bottom: 5rem;
    background-color: $lightOrange;
    &__isolijnen {
      position: absolute;
      width: 214px;
      top: -47px;
      left: -70px;
    }
    &__bg {
      display: none;
    }
    .fixed-container {
      display: flex;
      flex-direction: column;
    }
    &__left__wrapper {
      // padding-left: 5rem;
      padding-top: 3rem;
      order: 2;
    }
    &__right__wrapper {
      .section__title {
        margin-bottom: 0rem;
        img {
          width: 2rem;
        }
      }
    }
    input {
      margin-bottom: 1rem;
    }
    iframe {
      height: 300px;
    }
  }
}
