$heroBackgroundHeightLarge: 42vh;
$heroBackgroundHeightSmall: 30vh;
.hero {
    margin-top: 8vh;
    position: relative;
    @include breakpoint-up(large) {
        &__background {
            position: absolute;
            background-color: $lightOrange;
            height: $heroBackgroundHeightLarge;
            width: 100%;
            z-index: -100;
        }
        &__slogan {
            padding: 0 10rem;
            width: 100%;
            text-align: center;
            h1 {
                font-size: 80px;
                margin: 0;
                padding-top: 3rem;
                margin-bottom: 2rem;
            }
        }
        &__images {
            padding: 0 3rem;
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            img {
                border-radius: 30px;
            }
            #img1 {
                width: 25%;
            }
            #img2 {
                width: 35%;
            }
            #img3 {
                width: 28%;
            }
        }
        &__isolijnen {
            position: absolute;
        }
        #iso1 {
            top: calc(42vh - 256px);
        }
        #iso2 {
            top: $heroBackgroundHeightLarge
        }
    }
    @include breakpoint-down(large) {
        &__background {
            position: absolute;
            background-color: $lightOrange;
            height: 200px;
            width: 100%;
            z-index: -500;
        }
        &__slogan {
            padding-top: 2rem;
            text-align: center;
        }
        &__images {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
            img {
                width: 100%;
                border-radius: 30px;
            }
            #img1 {
                width: 25%;
            }
            #img2 {
                width: 35%;
            }
            #img3 {
                width: 28%;
            }
        }
        &__isolijnen {
            position: absolute;
            width: 5rem;
            z-index: -5;
        }
        #iso1 {
            top: calc(200px - 110px);
        }
        #iso2 {
            width: 4.2rem;
            top: 200px
        }
    }
}