.has-fade {
  visibility: hidden;
}

@-webkit-keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    visibility: hidden;
    opacity: 0;
  }
  1% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: visible;
    opacity: 1;
  }
}

.fade-in {
  -webkit-animation: fade-in 200ms ease-in-out forwards;
          animation: fade-in 200ms ease-in-out forwards;
}

@-webkit-keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes fade-out {
  from {
    visibility: visible;
    opacity: 1;
  }
  99% {
    visibility: visible;
    opacity: 0;
  }
  to {
    visibility: hidden;
    opacity: 0;
  }
}

.fade-out {
  -webkit-animation: fade-out 200ms ease-in-out forwards;
          animation: fade-out 200ms ease-in-out forwards;
}

@-webkit-keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@keyframes navLinkFadeIn {
  from {
    opacity: 0;
    -webkit-transform: translateX(50px);
            transform: translateX(50px);
  }
  to {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
}

@-webkit-keyframes navLinkFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

@keyframes navLinkFadeOut {
  from {
    opacity: 1;
    -webkit-transform: translate(0px);
            transform: translate(0px);
  }
  to {
    opacity: 0;
    -webkit-transform: translate(50px);
            transform: translate(50px);
  }
}

html {
  font-size: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  width: 100%;
  height: 100%;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a,
a:visited,
a:hover {
  text-decoration: none;
}

a {
  text-decoration: none;
  -webkit-transition: ease-in 0.1s;
  transition: ease-in 0.1s;
}

a:hover {
  opacity: 0.5;
}

body {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.125rem;
  background-color: white;
}

body.noscroll {
  overflow: hidden;
}

::-moz-selection {
  color: white;
  background: #e76623;
}

::selection {
  color: white;
  background: #e76623;
}

.flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.flex-jc-sb {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.flex-jc-c {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.flex-ai-c {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button,
.button {
  border: none;
  background-color: white;
  padding: 1rem 2.5rem;
  border-radius: 53px;
  font-weight: 400;
  letter-spacing: 0.5px;
  cursor: pointer;
  font-size: large;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

button:hover,
.button:hover {
  opacity: 0.8;
}

button img,
.button img {
  width: 0.7rem;
  margin-left: 1rem;
}

button a:hover,
.button a:hover {
  opacity: 1 !important;
}

@media (max-width: 63.9375em) {
  .hide-for-mobile {
    display: none;
  }
}

@media (min-width: 64em) {
  .hide-for-desktop {
    display: none;
  }
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
}

.fixed-container {
  margin: 0 auto;
}

@media (min-width: 64em) {
  .fixed-container {
    width: 1173px;
  }
}

@media (max-width: 87.4375em) {
  .fixed-container {
    width: 920px;
  }
}

@media (max-width: 63.9375em) {
  .fixed-container {
    width: 90vw;
  }
}

a {
  color: black;
}

@media (min-width: 64em) {
  .section__title img {
    width: 3rem;
    margin-right: 1.5rem;
  }
  .section__title h1 {
    line-height: 1.5ch;
    font-size: 2.5rem;
    display: inline-block;
    margin-bottom: 0;
  }
}

@media (max-width: 87.4375em) {
  .section__title img {
    width: 2rem;
    margin-right: 1.5rem;
  }
  .section__title h1 {
    font-size: 1.6rem;
    display: inline-block;
  }
}

.header {
  background-color: #FCE8DE;
}

.header a {
  font-size: large;
}

.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper img {
  width: 20rem;
}

.header__page_links a:not(:last-child) {
  margin-right: 2rem;
}

.header__languages a:not(:last-child) {
  margin-right: 0.5rem;
}

.header__languages i {
  margin-right: 0.5rem;
}

@media (max-width: 87.4375em) {
  .header {
    background-color: white;
  }
}

.nav {
  position: fixed;
  z-index: 100;
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 8vh;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.nav__burger {
  cursor: pointer;
}

.nav__burger .cunt {
  width: 25px;
  height: 3px;
  background-color: black;
  margin: 5px;
}

@media (min-width: 64em) {
  .nav__logo > img {
    width: 10rem;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__lang {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__lang li {
    list-style: none;
  }
  .nav__lang li:not(:last-child) {
    margin-right: 0.5rem;
  }
  .nav__lang .nav__stripe {
    color: white;
  }
  .nav__links {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 40%;
  }
  .nav__links li {
    list-style: none;
  }
  .nav__links button {
    background-color: #e76623;
  }
  .nav__links button a {
    color: white;
  }
  .nav .nav__link {
    color: white;
  }
  .nav__burger {
    display: none;
  }
}

@media (max-width: 87.4375em) {
  .nav {
    background-color: white;
  }
  .nav__logo > img {
    width: 8rem;
  }
  .nav__lang {
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 14px;
  }
  .nav__lang li {
    list-style: none;
  }
  .nav__lang li:not(:last-child) {
    margin-right: 0.5rem;
  }
  .nav__lang li:first-child {
    font-weight: bolder;
  }
  .nav__lang li:not(:first-child) {
    font-weight: lighter;
  }
  .nav__links {
    margin-top: 0;
    position: absolute;
    right: 0px;
    height: 92vh;
    /* Fallback for browsers that do not support Custom Properties */
    height: calc(var(--vh, 1vh) * 92);
    top: 8vh;
    background-color: #FCE8DE;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100vw;
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    padding-left: 0;
    -webkit-transition: -webkit-transform 0.5s ease-in;
    transition: -webkit-transform 0.5s ease-in;
    transition: transform 0.5s ease-in;
    transition: transform 0.5s ease-in, -webkit-transform 0.5s ease-in;
  }
  .nav__links li {
    list-style: none;
    opacity: 0;
  }
  .nav__burger {
    background-color: #e76623;
    border-radius: 50%;
    height: 50px;
    width: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .nav__burger .cunt {
    background-color: white;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
  }
  .nav__burger__toggle .nav__burger__line1 {
    -webkit-transform: rotate(-45deg) translate(-5px, 6px);
            transform: rotate(-45deg) translate(-5px, 6px);
  }
  .nav__burger__toggle .nav__burger__line2 {
    opacity: 0;
  }
  .nav__burger__toggle .nav__burger__line3 {
    -webkit-transform: rotate(45deg) translate(-5px, -6px);
            transform: rotate(45deg) translate(-5px, -6px);
  }
}

.nav__active {
  -webkit-transform: translateX(0%);
          transform: translateX(0%);
}

.hero {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.hero__bg {
  background-color: black;
  width: 100vw;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  position: absolute;
  opacity: 0.5;
  z-index: -1;
}

.hero__title {
  font-size: 40px;
  line-height: 2.5ch;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-weight: lighter;
}

.hero__title span {
  font-size: 20px;
}

.hero video {
  z-index: -2;
  position: absolute;
}

@media (min-width: 64em) {
  .hero video {
    width: 100%;
  }
}

@media (max-width: 87.4375em) {
  .hero video {
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
  }
  .hero__title {
    font-size: 24px;
    font-weight: bold;
    padding: 0 1rem;
  }
  .hero__title span {
    font-weight: 200;
    font-size: 16px;
  }
}

.over {
  position: relative;
}

@media (min-width: 64em) {
  .over {
    margin-top: 5rem;
  }
  .over__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .over__text__wrapper {
    margin: auto;
    line-height: 2.5ch;
  }
  .over__text p {
    margin-bottom: 5rem;
    line-height: 2.5ch;
  }
  .over__text button {
    background-color: #e76623;
    color: white;
  }
  .over .fixed-container {
    padding-left: calc((100vw - 1173px)/2);
    padding-right: 3rem;
  }
  .over__img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 50%;
  }
  .over__img img {
    width: 28rem;
    height: 23rem;
    border-radius: 30px;
  }
  .over__img__1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-right: 1rem;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .over__background {
    position: absolute;
    background-color: #FCE8DE;
    width: 100vw;
    height: 40vh;
    z-index: -50;
    top: 42%;
  }
}

@media (max-width: 87.4375em) {
  .over {
    background-color: #FCE8DE;
    padding-top: 4rem;
  }
  .over__text__wrapper {
    padding-left: 1rem;
  }
  .over__text p {
    margin-bottom: 1rem;
    font-size: 14px;
    line-height: 2.5ch;
  }
  .over__text button {
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #e76623;
    color: white;
    font-size: 14px;
  }
  .over__img {
    display: none;
  }
  .over__img__mobile {
    width: 100%;
    height: 30vh;
    height: calc(var(--vh, 1vh) * 30);
    background-image: url("../img/index/compressed/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
}

.kamers .card__mask__1 {
  background-image: url("../img/accomodaties/relax/compressed/relax_1.jpg");
}

.kamers .card__mask__2 {
  background-image: url("../img/accomodaties/nature/compressed/nature_1.jpg");
}

.kamers .card__mask__3 {
  background-image: url("../img/accomodaties/voyage/compressed/voyage_1.jpg");
}

.kamers .card__mask__4 {
  background-image: url("../img/accomodaties/aventure/compressed/aventure_3.jpg");
}

@media (min-width: 64em) {
  .kamers__text__wrapper {
    width: 40%;
    line-height: 2.5ch;
  }
  .kamers button {
    background-color: #e76623;
    color: white;
    margin-top: 2rem;
  }
  .kamers__cards__wrapper {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .kamers__card {
    margin-top: 5rem;
    width: 23%;
    border-radius: 52px;
    -webkit-box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
            box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
  }
  .kamers__card button {
    font-size: 10px;
  }
  .kamers__card button img {
    width: 0.6rem;
  }
  .kamers__card h1 {
    margin-left: 2rem;
    margin-bottom: 0;
  }
  .kamers .card__bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 2rem;
    padding-bottom: 2rem;
  }
  .kamers .card__bottom button {
    margin: 0;
    min-width: 2rem;
    padding: 0.5rem 1.25rem;
  }
  .kamers .card__bottom p {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 14px;
  }
  .kamers .card__mask {
    width: 100%;
    height: 18.75rem;
    border-radius: 52px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

@media (max-width: 87.4375em) {
  .kamers .section__title {
    margin-top: 2rem;
  }
  .kamers__text__wrapper {
    font-size: 14px;
    line-height: 2.5ch;
  }
  .kamers button {
    background-color: #e76623;
    color: white;
    margin-top: 2rem;
    margin-bottom: 2rem;
    font-size: 14px;
  }
  .kamers__cards__wrapper {
    display: -ms-grid;
    display: grid;
    width: 100%;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
  .kamers__card {
    -ms-grid-column-align: center;
        justify-self: center;
    width: 95%;
    border-radius: 30px;
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
            box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1);
  }
  .kamers__card button {
    font-size: 10px;
  }
  .kamers__card button img {
    width: 0.6rem;
  }
  .kamers__card h1 {
    margin-left: 1rem;
    font-size: large;
    margin-bottom: 0;
  }
  .kamers .card__bottom {
    padding: 0 1rem;
    padding-bottom: 0.5rem;
  }
  .kamers .card__bottom button {
    margin: 0;
    padding: 0.5rem 1.25rem;
  }
  .kamers .card__bottom p {
    margin: 0;
    margin-bottom: 1rem;
    font-weight: 200;
    font-size: 14px;
  }
  .kamers .card__mask {
    width: 100%;
    height: 12rem;
    border-radius: 30px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}

.ontspan {
  margin-top: 5rem;
}

.ontspan .section__title h1 {
  margin-bottom: 0;
}

.ontspan__text {
  margin-bottom: 4rem;
}

.ontspan__box h1 {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-weight: 500;
  font-size: large;
}

.ontspan__box p {
  font-size: 14px;
  margin-top: 0.5rem;
  font-weight: 200;
  line-height: 2ch;
}

.ontspan__box img {
  width: 3rem;
}

@media (min-width: 64em) {
  .ontspan__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .ontspan__left__wrapper {
    width: 50%;
    margin-left: 0rem;
    line-height: 2.5ch;
  }
  .ontspan__img__wrapper {
    width: 40%;
    height: 80vh;
    background-image: url("../img/index/compressed/ontspan.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-right: -2rem;
    border-radius: 30px;
  }
  .ontspan__boxes__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -webkit-column-gap: 3rem;
            column-gap: 3rem;
    row-gap: 1rem;
  }
}

@media (max-width: 87.4375em) {
  .ontspan__img__wrapper {
    display: none;
  }
  .ontspan__boxes__wrapper {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    row-gap: 2rem;
  }
  .ontspan__box {
    padding: 1rem;
  }
}

.activiteiten {
  margin-top: 5rem;
  background-color: #154b25;
  color: white;
  overflow: hidden;
  position: relative;
}

@media (min-width: 64em) {
  .activiteiten {
    height: 900px;
  }
  .activiteiten .isolijnen {
    position: absolute;
  }
  .activiteiten .isolijnen__1 {
    top: -370px;
    right: -500px;
  }
  .activiteiten .isolijnen__2 {
    bottom: -221px;
    left: -200px;
  }
  .activiteiten__img {
    position: absolute;
    -webkit-transform: scale(0.7);
    transform: scale(0.7);
  }
  .activiteiten__img__fietsen {
    top: 0px;
    border-radius: 40px;
    right: 300px;
    width: 500px;
  }
  .activiteiten__img__petanque {
    top: 100px;
    right: -100px;
  }
  .activiteiten__img__zwemmen {
    top: 380px;
    right: 400px;
  }
  .activiteiten__img__wandelen {
    top: 600px;
    right: 0px;
    width: 500px;
    border-radius: 40px;
  }
  .activiteiten__img__paardrijden {
    top: 400px;
    right: 720px;
    width: 400px;
    border-radius: 40px;
  }
  .activiteiten__img__vissen {
    top: 600px;
    right: 750px;
    border-radius: 40px;
    width: 500px;
  }
  .activiteiten__text__wrapper {
    width: 40%;
    margin-left: 0rem;
    line-height: 2.5ch;
  }
}

@media (max-width: 87.4375em) {
  .activiteiten {
    padding-bottom: 5rem;
  }
  .activiteiten .isolijnen {
    position: absolute;
  }
  .activiteiten .isolijnen__1 {
    width: 500px;
    top: -200px;
    right: -200px;
  }
  .activiteiten .isolijnen__2 {
    width: 250px;
    bottom: -100px;
    left: -100px;
  }
  .activiteiten__img {
    display: none;
  }
  .activiteiten__text__wrapper {
    margin-top: 3rem;
    line-height: 2ch;
  }
  .activiteiten__text__wrapper button {
    margin-top: 2rem;
  }
}

.contact {
  padding-top: 5rem;
  padding-bottom: 8rem;
  position: relative;
  overflow: hidden;
}

.contact__form input,
.contact__form textarea {
  margin-bottom: 2rem;
  border: none;
  border-radius: 50px;
}

.contact__form input {
  padding: 1rem;
}

.contact__form textarea {
  resize: none;
  padding: 2rem;
}

.contact__form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact__form button {
  background-color: #e76623;
  color: white;
}

.contact__form__names {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form__names input {
  width: 45%;
}

.contact__form__names .contact__form__unit {
  width: 45%;
}

.contact__form__unit {
  width: 100%;
}

.contact__form__unit input {
  width: 100%;
}

.contact__form__unit h4 {
  margin-bottom: 0.5rem;
  margin-left: 0.5rem;
  margin-top: 0;
  font-weight: lighter;
}

@media (min-width: 64em) {
  .contact__isolijnen {
    position: absolute;
    scale: 1;
    top: 0;
    left: -11px;
  }
  .contact__bg {
    background-color: #FCE8DE;
    position: absolute;
    height: 80vh;
    width: 80vw;
    z-index: -10;
    right: 0;
    margin-top: 130px;
  }
  .contact .fixed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contact__left__wrapper {
    padding-top: 11rem;
    width: 50%;
    height: 600px;
  }
  .contact__right__wrapper {
    padding-left: 3rem;
    width: 60%;
  }
  .contact__right__wrapper .section__title {
    margin-bottom: 2rem;
  }
  .contact__right__wrapper .section__title img {
    width: 2rem;
  }
}

@media (max-width: 87.4375em) {
  .contact {
    overflow: hidden;
    padding-bottom: 5rem;
    background-color: #FCE8DE;
  }
  .contact__isolijnen {
    position: absolute;
    width: 214px;
    top: -21px;
    left: -11px;
  }
  .contact__bg {
    display: none;
  }
  .contact .fixed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__left__wrapper {
    padding-top: 3rem;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact__right__wrapper .section__title {
    margin-bottom: 2rem;
  }
  .contact__right__wrapper .section__title img {
    width: 2rem;
  }
  .contact input {
    margin-bottom: 1rem;
  }
  .contact iframe {
    height: 300px;
  }
}

.footer {
  padding: 2rem 0;
  background-color: #154b25;
  color: white;
}

.footer h6 {
  font-size: 14px;
  margin: 1.2rem 0;
}

.footer a {
  color: white;
}

.footer__contact a {
  font-weight: 200;
  text-decoration: underline;
}

.footer__contact h6 {
  font-weight: 200;
}

.footer__contact img {
  width: 1rem;
  margin-right: 3px;
}

.footer__links a {
  font-weight: 400;
}

@media (min-width: 64em) {
  .footer .fixed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__disclosure {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer__disclosure a {
    font-weight: 200;
    text-decoration: underline;
  }
  .footer__disclosure h6 {
    font-weight: 200;
  }
  .footer__disclosure img {
    margin-left: 0.6rem;
    width: 4rem;
    opacity: 0.7;
  }
}

@media (max-width: 87.4375em) {
  .footer__links {
    margin-top: 3rem;
  }
  .footer__disclosure {
    margin-top: 3rem;
  }
  .footer__disclosure a {
    font-weight: 200;
    text-decoration: underline;
  }
  .footer__disclosure h6 {
    font-weight: 200;
  }
  .footer__disclosure img {
    margin-left: 0.6rem;
    width: 4rem;
    opacity: 0.7;
  }
}

.accomodaties__nav {
  background-color: white;
}

@media (max-width: 87.4375em) {
  .accomodaties__nav {
    background-color: #FCE8DE !important;
  }
}

.accomodaties__hero {
  position: relative;
}

@media (min-width: 64em) {
  .accomodaties__hero {
    margin-top: 8vh;
    height: 92vh;
  }
  .accomodaties__hero__bg {
    position: absolute;
    z-index: -5;
    background-color: #FCE8DE;
    width: 100%;
    height: 100%;
  }
  .accomodaties__hero__title {
    padding-top: 15%;
    font-size: 60px;
    font-weight: bold;
  }
  .accomodaties__hero__text {
    margin-top: 1rem;
    width: 35%;
    font-weight: 300;
  }
  .accomodaties__hero__button {
    margin-top: 2rem;
  }
  .accomodaties__hero__button button {
    background-color: #e76623;
    color: white;
  }
  .accomodaties__hero__compass {
    bottom: -50px;
    left: -50px;
    position: absolute;
    margin: 0;
    padding: 0;
  }
  .accomodaties__hero__compass img {
    width: 16rem;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  .accomodaties__hero__img {
    width: 50%;
    position: absolute;
    height: 100%;
    background-image: url("../img/accomodaties/nature/compressed/accomodaties.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}

@media (max-width: 87.4375em) {
  .accomodaties__hero {
    margin-top: 13vh;
  }
  .accomodaties__hero__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .accomodaties__hero__text {
    margin-bottom: 3rem;
  }
  .accomodaties__hero__compass {
    display: none;
  }
  .accomodaties__hero__button {
    display: none;
  }
  .accomodaties__hero__img {
    width: 100%;
    height: 250px;
    background-image: url("../img/accomodaties/nature/accomodaties.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.accomodaties__kamers {
  padding: 5rem 0;
  background-color: #FCE8DE;
}

.accomodaties__kamers .crib {
  width: 35px;
}

@media (min-width: 64em) {
  .accomodaties__kamers__unit {
    border-radius: 50px;
    padding-right: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .accomodaties__kamers__unit .splide {
    overflow: hidden;
    min-width: 400px;
    border-radius: 50px;
  }
  .accomodaties__kamers__unit .splide__slide img {
    width: 100%;
    height: auto;
  }
  .accomodaties__kamers__unit:not(:first-child) {
    margin-top: 5rem;
  }
  .accomodaties__kamers__unit__image__wrapper {
    min-width: 400px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
  }
  .accomodaties__kamers__unit__image__ecrivain {
    background-image: url("../../img/accomodaties/relax/relax_1.jpg");
  }
  .accomodaties__kamers__unit__image__nature {
    background-image: url("../img/nature.jpg");
  }
  .accomodaties__kamers__unit__image__voyage {
    background-image: url("../img/voyage.jpg");
  }
  .accomodaties__kamers__unit__image__romantique {
    background-image: url("../img/romantique.jpg");
  }
  .accomodaties__kamers__unit__image__chopin {
    background-image: url("../img/ecrivain.jpg");
  }
  .accomodaties__kamers__unit__image__gite {
    background-image: url("../img/gite.jpg");
  }
  .accomodaties__kamers__unit__middle {
    padding: 0rem 4rem;
    padding-bottom: 2rem;
  }
  .accomodaties__kamers__unit__middle .middle__title h1 {
    font-size: 40px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .accomodaties__kamers__unit__middle .middle__text p {
    font-size: 12px;
    font-weight: 200;
  }
  .accomodaties__kamers__unit__middle .middle__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 10px;
            column-gap: 10px;
  }
  .accomodaties__kamers__unit__middle .middle__icons__text p {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .accomodaties__kamers__unit__middle .middle__icons__text p img {
    margin-right: 0.7rem;
  }
  .accomodaties__kamers__unit__right {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accomodaties__kamers__unit__right button {
    color: white;
    background-color: #e76623;
    margin-bottom: 2rem;
  }
  .accomodaties__kamers__unit__right .right__price__smaller {
    font-size: 14px;
    font-weight: lighter;
  }
}

@media (max-width: 87.4375em) {
  .accomodaties__kamers {
    padding-top: 1rem;
  }
  .accomodaties__kamers .splide {
    overflow: hidden;
    border-radius: 50px;
  }
  .accomodaties__kamers__unit {
    border-radius: 50px;
    margin-top: 5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white;
  }
  .accomodaties__kamers__unit__image__wrapper {
    width: 100%;
    height: 15rem;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50px;
  }
  .accomodaties__kamers__unit__image__ecrivain {
    background-image: url("../img/ecrivain.jpg");
  }
  .accomodaties__kamers__unit__image__nature {
    background-image: url("../img/nature.jpg");
  }
  .accomodaties__kamers__unit__image__voyage {
    background-image: url("../img/voyage.jpg");
  }
  .accomodaties__kamers__unit__image__romantique {
    background-image: url("../img/romantique.jpg");
  }
  .accomodaties__kamers__unit__image__chopin {
    background-image: url("../img/ecrivain.jpg");
  }
  .accomodaties__kamers__unit__image__gite {
    background-image: url("../img/gite.jpg");
  }
  .accomodaties__kamers__unit__middle {
    padding: 0rem 2rem;
  }
  .accomodaties__kamers__unit__middle .middle__title {
    text-align: center;
  }
  .accomodaties__kamers__unit__middle .middle__title h1 {
    font-size: 24px;
    margin-bottom: 0;
    margin-top: 1rem;
  }
  .accomodaties__kamers__unit__middle .middle__text {
    text-align: center;
    margin-bottom: 2rem;
  }
  .accomodaties__kamers__unit__middle .middle__text p {
    font-size: 14px;
    line-height: 2.5ch;
    font-weight: 100;
  }
  .accomodaties__kamers__unit__middle .middle__icons {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -webkit-column-gap: 0.5rem;
            column-gap: 0.5rem;
  }
  .accomodaties__kamers__unit__middle .middle__icons__text p {
    font-size: 14px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 200;
  }
  .accomodaties__kamers__unit__middle .middle__icons__text p img {
    width: 25px;
    margin-right: 0.7rem;
  }
  .accomodaties__kamers__unit__right {
    text-align: center;
    padding: 0rem 2rem;
    padding-bottom: 2rem;
  }
  .accomodaties__kamers__unit__right button {
    color: white;
    background-color: #e76623;
    margin: 0 auto;
  }
  .accomodaties__kamers__unit__right .right__price h1 {
    margin-bottom: 0;
  }
  .accomodaties__kamers__unit__right .right__price p {
    margin-top: 0.2rem;
    margin-bottom: 2rem;
  }
  .accomodaties__kamers__unit__right .right__price__smaller {
    font-size: 14px;
    font-weight: lighter;
  }
}

.accomodaties__gite {
  margin: 5rem 0;
  margin-bottom: 0;
  padding: 15rem 0;
  position: relative;
  z-index: -1;
  background-color: #154b25;
}

.accomodaties__gite__hero__wrapper {
  color: white;
}

@media (min-width: 64em) {
  .accomodaties__gite__hero {
    margin-top: 20vh;
  }
  .accomodaties__gite__hero__wrapper {
    width: 70%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .accomodaties__gite__hero__text {
    width: 75%;
    font-size: 16px;
    line-height: 2.5ch;
    font-weight: 300;
  }
}

@media (max-width: 87.4375em) {
  .accomodaties__gite__hero {
    margin-top: 25vh;
  }
  .accomodaties__gite__hero__text {
    text-align: justify;
    font-size: 16px;
    line-height: 2ch;
    font-weight: 300;
  }
}

@media (min-width: 64em) {
  .accomodaties__gite .container {
    padding: 0 5rem;
  }
  .accomodaties__gite__isolijnen__1 {
    position: absolute;
    z-index: -5;
    top: -450px;
    right: -450px;
  }
  .accomodaties__gite__isolijnen__2 {
    position: absolute;
    z-index: -5;
    top: 250px;
    left: -500px;
    scale: 0.6;
  }
}

@media (max-width: 87.4375em) {
  .accomodaties__gite__isolijnen__1 {
    position: absolute;
    z-index: -5;
    top: -500px;
    right: -450px;
    scale: 0.4;
  }
  .accomodaties__gite__isolijnen__2 {
    position: absolute;
    z-index: -5;
    bottom: -15rem;
    left: -600px;
    scale: 0.4;
  }
}

.accomodaties__ratings {
  background-color: #154b25;
  position: relative;
}

.accomodaties__ratings__isolijnen {
  position: absolute;
  width: 600px;
  top: -100px;
  left: -200px;
}

@media (min-width: 64em) {
  .accomodaties__ratings {
    position: relative;
    padding: 5rem 0;
  }
  .accomodaties__ratings .fixed-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .accomodaties__ratings__unit {
    background-color: white;
    border-radius: 50px;
    padding: 2rem;
    font-size: 14px;
    line-height: 2.5ch;
  }
  .accomodaties__ratings__unit:not(:last-child) {
    margin-right: 4rem;
  }
  .accomodaties__ratings .splide {
    display: none;
  }
  .accomodaties__ratings__mobile {
    display: none;
  }
}

@media (max-width: 87.4375em) {
  .accomodaties__ratings {
    position: relative;
    padding: 5rem 0;
  }
  .accomodaties__ratings__desktop {
    display: none;
  }
  .accomodaties__ratings .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .accomodaties__ratings__unit {
    position: relative;
    z-index: 100000;
    background-color: white;
    border-radius: 50px;
    padding: 2rem;
    font-size: 14px;
    line-height: 2.5ch;
    margin-top: auto;
  }
}

.activiteiten__nav {
  background-color: white;
}

.activiteiten__nav button {
  background-color: #e76623;
}

.activiteiten__nav button a {
  color: white;
}

@media (max-width: 87.4375em) {
  .activiteiten__nav {
    background-color: white !important;
  }
}

.activiteiten__hero {
  position: relative;
  overflow: hidden;
}

@media (min-width: 64em) {
  .activiteiten__hero {
    margin-top: 8vh;
    height: 92vh;
  }
  .activiteiten__hero__bg {
    position: absolute;
    z-index: -5;
    background-color: #FCE8DE;
    width: 100%;
    height: 100%;
  }
  .activiteiten__hero__title {
    padding-top: 15%;
    font-size: 60px;
    font-weight: bold;
  }
  .activiteiten__hero__text {
    margin-top: 1rem;
    width: 35%;
    font-weight: 300;
  }
  .activiteiten__hero__button {
    margin-top: 2rem;
  }
  .activiteiten__hero__button button {
    background-color: #e76623;
    color: white;
  }
  .activiteiten__hero__compass {
    bottom: -70px;
    left: -30px;
    position: absolute;
    margin: 0;
    z-index: -1;
    padding: 0;
  }
  .activiteiten__hero__compass img {
    width: 13rem;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .activiteiten__hero__img {
    width: 50%;
    position: absolute;
    height: 100%;
    background-image: url("../img/activiteiten/compressed/cedric.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    right: 0;
    top: 0;
  }
}

@media (max-width: 87.4375em) {
  .activiteiten__hero {
    margin-top: 13vh;
  }
  .activiteiten__hero__title {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  .activiteiten__hero__text {
    margin-bottom: 3rem;
  }
  .activiteiten__hero__compass {
    display: none;
  }
  .activiteiten__hero__button {
    display: none;
  }
  .activiteiten__hero__img {
    width: 100%;
    height: 250px;
    background-image: url("../img/activiteiten/compressed/cedric.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }
}

.activiteiten__activiteiten {
  position: relative;
  background-color: #154b25;
  padding: 5rem 0;
  padding-bottom: 10rem;
}

.activiteiten__activiteiten .fixed-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  row-gap: 5rem;
  z-index: 10;
}

.activiteiten__activiteiten__unit {
  width: 300px;
  background-color: white;
  border-radius: 20px;
  z-index: 1;
}

.activiteiten__activiteiten__unit__title {
  padding-left: 1rem;
  padding-bottom: 0.5rem;
  padding-top: 1rem;
  font-weight: 700;
  font-size: 24px;
}

.activiteiten__activiteiten__unit__text {
  padding: 0 1rem 1rem 1rem;
  font-weight: 300;
  font-size: 14px;
}

.activiteiten__activiteiten__unit__img {
  width: 100%;
  height: 300px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 20px 20px 0 0;
}

.activiteiten__activiteiten__unit .fietsen {
  background-image: url("../img/activiteiten/compressed/fietsen.jpg");
}

.activiteiten__activiteiten__unit .dieren {
  background-image: url("../img/activiteiten/compressed/dieren.jpg");
}

.activiteiten__activiteiten__unit .bar {
  background-image: url("../img/activiteiten/compressed/bar.jpg");
}

.activiteiten__activiteiten__unit .vissen {
  background-image: url("../img/activiteiten/compressed/fitness.jpg");
}

.activiteiten__activiteiten__unit .zwemmen {
  background-image: url("../img/activiteiten/compressed/zwemmen.jpg");
}

.activiteiten__activiteiten__unit .wandelen {
  background-image: url("../img/activiteiten/compressed/wandelen.jpg");
}

.activiteiten__activiteiten__isolijnen img {
  position: absolute;
}

.activiteiten__activiteiten__isolijnen #isolijnen1 {
  z-index: 0;
  width: 400px;
  top: 100px;
  left: -250px;
}

.activiteiten__activiteiten__isolijnen #isolijnen2 {
  z-index: 0;
  width: 500px;
  bottom: -150px;
  right: 20vw;
}

@media (max-width: 87.4375em) {
  .activiteiten__activiteiten {
    overflow: hidden;
  }
  .activiteiten__activiteiten .fixed-container {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    row-gap: 2rem;
  }
  .activiteiten__activiteiten__unit {
    margin: auto;
  }
  .activiteiten__activiteiten__img {
    height: 250px;
    width: 100%;
    position: absolute;
    bottom: 0;
    background-image: url("../img/index/compressed/1.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .activiteiten__activiteiten__isolijnen #isolijnen2 {
    bottom: 400px;
  }
}

.activiteiten__families {
  position: relative;
  background-color: #FCE8DE;
}

.activiteiten__families::before {
  position: absolute;
  content: "";
  background-color: #FCE8DE;
  width: 100vw;
  height: 300px;
  top: -300px;
  z-index: -10;
}

.activiteiten__families .fixed-container {
  position: relative;
  padding: 0 15rem;
  padding-bottom: 25rem;
}

.activiteiten__families__text {
  line-height: 2.5ch;
}

.activiteiten__families__images img {
  border-radius: 10px;
}

.activiteiten__families__images #brenne {
  position: absolute;
  top: -50px;
  left: -100px;
}

.activiteiten__families__images #brenne img {
  width: 300px;
}

.activiteiten__families__images #brenne::after {
  content: "Parc naturel de la Brenne";
  display: block;
  font-size: 14px;
}

.activiteiten__families__images #sidiailles {
  position: absolute;
  top: 200px;
  left: -70px;
}

.activiteiten__families__images #sidiailles img {
  width: 250px;
}

.activiteiten__families__images #sidiailles::after {
  content: "Sidiailles";
  display: block;
  font-size: 14px;
}

.activiteiten__families__images #chateauroux {
  position: absolute;
  bottom: 100px;
  left: 100px;
}

.activiteiten__families__images #chateauroux img {
  width: 600px;
}

.activiteiten__families__images #chateauroux::after {
  content: "Chateauroux";
  display: block;
  font-size: 14px;
}

.activiteiten__families__images #cher {
  position: absolute;
  right: 0px;
  bottom: 150px;
}

.activiteiten__families__images #cher img {
  width: 300px;
}

.activiteiten__families__images #cher::after {
  content: "Cher streek";
  display: block;
  font-size: 14px;
}

.activiteiten__families__images #zoo {
  position: absolute;
  right: -80px;
  top: -100px;
}

.activiteiten__families__images #zoo img {
  width: 300px;
}

.activiteiten__families__images #zoo::after {
  content: "Zoo Beauval";
  display: block;
  font-size: 14px;
}

@media (min-width: 64em) {
  .activiteiten__families {
    margin-top: 10rem;
  }
}

@media (max-width: 87.4375em) {
  .activiteiten__families__images {
    display: none;
  }
  .activiteiten__families__title {
    margin-top: 5rem;
  }
  .activiteiten__families .fixed-container {
    padding: 0;
    padding-bottom: 5rem;
  }
}

.contact__nav {
  background-color: white;
}

.contact__nav .nav__links button {
  background-color: #e76623;
}

.contact__nav .nav__links button a {
  color: white;
}

.contact__hero {
  position: relative;
}

@media (min-width: 64em) {
  .contact__hero {
    margin-top: 30vh;
    margin-bottom: 5rem;
  }
  .contact__hero__bg {
    height: 2000px;
    width: 50vw;
    position: absolute;
    background-color: #FCE8DE;
    z-index: -5;
    right: 0;
    top: -1000px;
  }
  .contact__hero__img {
    position: absolute;
    z-index: -1;
    right: -200px;
    top: 0px;
    scale: 0.7;
  }
  .contact__hero__wrapper {
    width: 70%;
  }
  .contact__hero hr {
    width: 100px;
    margin: 0.5rem 0;
    padding: 0;
    color: lightgrey;
  }
  .contact__hero__title h1 {
    margin-bottom: 0;
    font-size: 34px;
    font-weight: 800;
  }
  .contact__hero__text {
    color: lightgrey;
    font-size: 16px;
    line-height: 3.5ch;
    font-weight: 300;
    padding-top: 0.5rem;
    margin-bottom: 3rem;
  }
}

@media (max-width: 87.4375em) {
  .contact__hero {
    margin-top: 13vh;
  }
  .contact__hero__title h1 {
    margin-bottom: 0rem;
  }
  .contact__hero__text {
    display: none;
  }
  .contact__hero__img {
    display: none;
  }
}

.contact__form {
  position: relative;
}

.contact__form .fixed-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.contact__form__form__wrapper {
  width: 100%;
  margin-left: 5rem;
}

.contact__form__form__wrapper label {
  margin-left: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 16px;
  font-weight: lighter;
}

.contact__form__form__wrapper__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.contact__form__form__wrapper__grid__unit label,
.contact__form__form__wrapper__grid__unit input {
  display: block;
  width: 100%;
}

@media (min-width: 64em) {
  .contact__form {
    padding-bottom: 5rem;
  }
  .contact__form__form__wrapper {
    margin-top: -240px;
  }
  .contact__form__form__wrapper__mobile {
    display: none;
  }
  .contact__form #map__mobile {
    display: none;
  }
}

@media (max-width: 87.4375em) {
  .contact__form .fixed-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .contact__form__map__wrapper {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .contact__form__bg {
    position: absolute;
    background-color: #FCE8DE;
    height: 700px;
    width: 100vw;
    top: 10px;
    z-index: -5;
  }
  .contact__form__form__wrapper {
    margin-left: 0;
    padding: 3rem 0;
    padding-bottom: 0;
  }
  .contact__form__form__wrapper form {
    padding-bottom: 5rem;
  }
  .contact__form__form__wrapper hr {
    width: 100px;
    margin: 0.5rem 0;
    padding: 0;
    color: lightgrey;
  }
  .contact__form__form__wrapper__mobile {
    color: lightgrey;
    font-size: 16px;
    line-height: 3.5ch;
    font-weight: 300;
    padding-top: 0.5rem;
    margin-bottom: 3rem;
  }
  .contact__form__form__wrapper__grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .contact__form__form__wrapper__grid input {
    margin-bottom: 1rem;
  }
  .contact__form__map__wrapper iframe {
    display: none;
  }
  .contact__form #map__mobile {
    width: 100%;
    height: 400px;
  }
}
/*# sourceMappingURL=style.css.map */