.contact__nav {
    .nav__links {
        button {
            background-color: $darkOrange;
            a {
                color: white;
            }
        }
    }
    background-color: white;
}