.activiteiten__nav {
  background-color: white;
  button {
    background-color: $darkOrange;
    color: white;
    a {
      color: white;
    }
  }
  @include breakpoint-down(large) {
    background-color: white !important;
  }
}
