.accomodaties__kamers {
    padding: 5rem 0;
    background-color: $lightOrange;
    .crib {
        width: 35px;
    }
    @include breakpoint-up(large) {
        &__unit {
            .splide {
                overflow: hidden;
<<<<<<< HEAD
                min-width: 400px;
                border-radius: 50px;
            }
            .splide__slide img {
                width: 100%;
                height: auto;
=======
                width: 400px;
                max-height: 500px;
                img {
                    width: 100%;
                    height: auto;
                }
>>>>>>> c288d5d8fa1a7972b4f6cfc136b023598c64daca
            }
            border-radius: 50px;
            padding-right: 5rem;
            &:not(:first-child) {
                margin-top: 5rem;
            }
            display: flex;
            justify-content: space-between;
            background-color: white;
            &__image {
                &__wrapper {
                    min-width: 400px;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50px;
                }
                &__ecrivain {
<<<<<<< HEAD
                    background-image: url('../../img/accomodaties/relax/relax_1.jpg');
=======
                    background-image: url('../img/ecrivain.jpg');
>>>>>>> c288d5d8fa1a7972b4f6cfc136b023598c64daca
                }
                &__nature {
                    background-image: url('../img/nature.jpg');
                }
                &__voyage {
                    background-image: url('../img/voyage.jpg');
                }
                &__romantique {
                    background-image: url('../img/romantique.jpg');
                }
                &__chopin {
                    background-image: url('../img/ecrivain.jpg');
                }
                &__gite {
                    background-image: url('../img/gite.jpg');
                }
            }
            &__middle {
                padding: 0rem 5rem;
                padding-bottom: 2rem;
                .middle__title {
                    h1 {
                        font-size: 40px;
                        margin-bottom: 0;
                        margin-top: 1rem;
                    }
                }
                .middle__text {
                    p {
                        font-size: 14px;
                        line-height: 2.5ch;
                    }
                }
                .middle__icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 10px;
                    &__text {
                        p {
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            img {
                                margin-right: 0.7rem;
                            }
                        }
                    }
                }
            }
            &__right {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                button {
                    color: white;
                    background-color: $darkOrange;
                    margin-bottom: 2rem;
                }
                .right__price {
                    &__smaller {
                        font-size: 14px;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
    @include breakpoint-down(large) {
        padding-top: 1rem;
<<<<<<< HEAD
        .splide {
            overflow: hidden;
            border-radius: 50px;
        }
=======
>>>>>>> c288d5d8fa1a7972b4f6cfc136b023598c64daca
        &__unit {
            border-radius: 50px;
            margin-top: 5rem;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: white;
            &__image {
                &__wrapper {
                    width: 100%;
                    height: 15rem;
                    background-position: center;
                    background-size: cover;
                    background-repeat: no-repeat;
                    border-radius: 50px;
                }
                &__ecrivain {
                    background-image: url('../img/ecrivain.jpg');
                }
                &__nature {
                    background-image: url('../img/nature.jpg');
                }
                &__voyage {
                    background-image: url('../img/voyage.jpg');
                }
                &__romantique {
                    background-image: url('../img/romantique.jpg');
                }
                &__chopin {
                    background-image: url('../img/ecrivain.jpg');
                }
                &__gite {
                    background-image: url('../img/gite.jpg');
                }
            }
            &__middle {
                padding: 0rem 2rem;
                .middle__title {
                    text-align: center;
                    h1 {
                        font-size: 24px;
                        margin-bottom: 0;
                        margin-top: 1rem;
                    }
                }
                .middle__text {
                    text-align: center;
                    p {
                        font-size: 14px;
                        line-height: 2.5ch;
                        font-weight: 100;
                    }
                    margin-bottom: 2rem;
                }
                .middle__icons {
                    display: grid;
                    grid-template-columns: 1fr 1fr;
                    column-gap: 0.5rem;
                    &__text {
                        p {
                            font-size: 14px;
                            display: flex;
                            align-items: center;
                            font-weight: 200;
                            img {
                                width: 25px;
                                margin-right: 0.7rem;
                            }
                        }
                    }
                }
            }
            &__right {
                text-align: center;
                padding: 0rem 2rem;
                padding-bottom: 2rem;
                button {
                    color: white;
                    background-color: $darkOrange;
                    margin: 0 auto;
                }
                .right__price {
                    h1 {
                        margin-bottom: 0;
                    }
                    p {
                        margin-top: 0.2rem;
                        margin-bottom: 2rem;
                    }
                    &__smaller {
                        font-size: 14px;
                        font-weight: lighter;
                    }
                }
            }
        }
    }
}