.accomodaties__ratings {
    background-color: $darkGreen;
    position: relative;
    &__isolijnen {
        position: absolute;
        width: 600px;
        top: -100px;
        left: -200px;
    }
    @include breakpoint-up(large) {
        position: relative;
        padding: 5rem 0;
        .fixed-container {
            display: flex;
            flex-direction: row;
        }
        &__unit {
            background-color: white;
            border-radius: 50px;
            padding: 2rem;
            font-size: 14px;
            line-height: 2.5ch;
            &:not(:last-child) {
                margin-right: 4rem;
            }
        }
        .splide {
            display: none;
        }
        &__mobile {
            display: none;
        }
    }
    @include breakpoint-down(large) {
        &__desktop {
            display: none;
        }
        position: relative;
        padding: 5rem 0;
        .container {
            display: flex;
        }
        &__unit {
            position: relative;
            z-index: 100000;
            background-color: white;
            border-radius: 50px;
            padding: 2rem;
            font-size: 14px;
            line-height: 2.5ch;
            margin-top: auto;
        }
    }
}